{% extends "base.html" %}
{% block main %}

    <section id="main-admin" ng-controller="SettingsController">

        <section id="header" class="container container-with-overflow container-header">
            <div class="medium-pad">
                <b>Admin Settings</b>
            </div>
        </section>

        <section id="body" class="container container-with-overflow text-semi-muted">

            <div class="pad-head" ng-if="settings_saved">
                <div uib-alert ng-class="'alert-' + settings_saved_class" close="close_alert('success')">
                    <b>//settings_saved_txt//</b>
                </div>
            </div>

            <div id="account" class="setting-category">

                <div class="main-title" ng-click="account_collapse=!account_collapse">
                    <span>Account</span>
                </div>

                <div class="pad" uib-collapse="account_collapse">

                    <div class="small-pad setting-indent">
                        <form novalidate class="form-large">
                            <div class="form-title pad"><b>User ID</b></div>
                            <input type="text" class="form" ng-value="default_settings.user_id"
                                   ng-click="close_alert('user_id')" ng-model="default_settings.user_id"/>
                        </form>
                        <div class="pad-head" ng-if="user_id_alert">
                            <div uib-alert ng-class="'alert-danger'">
                                Cannot leave User ID blank
                            </div>
                        </div>
                    </div>

                    <div class="small-pad setting-indent">
                        <form novalidate class="form-large">
                            <div class="form-title pad"><b>New Password</b></div>
                            <input type="password" ng-focus="focused = true" ng-blur="focused = false" class="form"
                                   ng-class="{'bg-success': new_pw == confirm_pw && new_pw != ''}"
                                   ng-click="close_alert('password_match')" ng-model="new_pw"/>
                        </form>
                    </div>

                    <div class="small-pad setting-indent">
                        <form novalidate class="form-large">
                            <div class="form-title pad"><b>Confirm Password</b></div>
                            <input type="password" class="form" ng-disabled="new_pw==''"
                                   ng-class="{'bg-warning': new_pw != confirm_pw && !focused && new_pw != '',
                                   'bg-success': new_pw == confirm_pw && new_pw != '',
                                   'disable': new_pw==''}" ng-click="close_alert('password_match')"
                                   ng-model="confirm_pw"/>
                        </form>
                        <div class="pad-head" ng-if="password_alert">
                            <div uib-alert ng-class="'alert-danger'">
                                //password_alert_txt//
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div id="assembleyline-server" class="setting-category">

                <div class="main-title" ng-click="config_collapse=!config_collapse">
                    <span>Assemblyline Server</span>
                </div>

                <div class="pad" uib-collapse="config_collapse">

                    <div class="small-pad setting-indent">
                        <form novalidate class="form-large">
                            <div class="form-title pad"><b>Terminal Name</b></div>
                            <input type="text" class="form" ng-click="close_alert('terminal_blank')"
                                   ng-value="default_settings.terminal" ng-model="default_settings.terminal"/>
                        </form>
                        <div class="pad-head" ng-if="terminal_blank_alert">
                            <div uib-alert ng-class="'alert-danger'">
                                Terminal Name cannot be left blank
                            </div>
                        </div>
                    </div>

                    <div id="assemblyline-connect" class="group-elements"
                         ng-class="{'bg-success': test_al_connect_success,
                             'bg-warning': test_al_connect_fail,
                             'bg-group' : !test_al_connect_success && !test_al_connect_fail}">

                        <div class="small-pad">
                            <form novalidate class="form-large">
                                <div class="form-title pad"><b>Assemblyline Server IP Address</b></div>
                                <input type="text" class="form" ng-value="default_settings.al_address"
                                       ng-model="default_settings.al_address"
                                       ng-change="test_al_connect_success = false; test_al_connect_fail = false"/>
                            </form>
                        </div>

                        <div class="small-pad">
                            <form novalidate class="form-large">
                                <div class="form-title pad"><b>Assemblyline Username</b></div>
                                <input type="text" class="form" ng-value="default_settings.al_username"
                                       ng-model="default_settings.al_username"
                                       ng-change="test_al_connect_success = false; test_al_connect_fail = false"/>
                            </form>
                        </div>

                        <div class="small-pad">
                            <form novalidate class="form-large">
                                <div class="form-title pad"><b>Assemblyline API Key</b></div>
                                <input type="text" class="form" ng-value="default_settings.al_api_key"
                                       ng-model="default_settings.al_api_key"
                                       ng-change="test_al_connect_success = false; test_al_connect_fail = false"/>
                            </form>
                        </div>

                        <div class="pad-button">

                            <button type="button" class='btn btn-default btn-style-blue'
                                    ng-disabled="al_address=='' || al_username=='' || al_api_key==''
                                    || testing_connection"
                                    ng-click="btn_al_connect()">Test connection</button>
                            <img ng-if="show_al_waiting" class="waiting-gif" src="/static/images/loading.svg">
                            <i class="fas fa-check smtp_result_icon icon-green" ng-if="test_al_connect_success"></i>
                            <i class="fas fa-times smtp_result_icon icon-red" ng-if="test_al_connect_fail"></i>
                            <div class="pad-head indent" ng-if="test_al_connect_fail || test_al_connect_success">
                                //al_test_txt//
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div id="notifications" class="setting-category">

                <div class="main-title" ng-click="email_collapse=!email_collapse">
                    <span>Notifications</span>
                </div>

                <div class="pad" uib-collapse="email_collapse">

                    <div class="small-pad clickable">
                        <toggle ng-model="default_settings.email_alerts" on="On" off="Off"
                                onstyle="btn-success"></toggle>
                        <div class="toggle-email-txt"
                             ng-click="default_settings.email_alerts = !default_settings.email_alerts">
                            Email alerts
                        </div>
                    </div>

                    <div id="email-settings" ng-class="{'disable': !default_settings.email_alerts}">

                        <div id="recipients" class="pad">

                            <div class="small-pad pad-head setting-indent">

                                <form novalidate class="form-medium" ng-submit="btn_add_recipient(new_recipient)">
                                    <div class="form-title pad"><b>Add Recipient</b></div>
                                    <input type="text" class="form align-bottom" ng-model="new_recipient"
                                           uib-tooltip="//alert_msg//" tooltip-is-open="show_alert"
                                           tooltip-trigger="'none'" tooltip-placement="left"
                                           ng-disabled="!default_settings.email_alerts"/>
                                </form>

                                <button type="button" class='btn btn-default btn-style-blue align-bottom reduce-margin'
                                            ng-disabled="new_recipient=='' || !default_settings.email_alerts"
                                            ng-click="btn_add_recipient(new_recipient)">

                                    <i class="fas fa-plus-circle"></i>
                                    <div class="recipient" style="display:inline">Add</div>

                                </button>

                            </div>

                            <div class="big-pad pad-head setting-indent">

                                <form novalidate class="form-large">

                                    <div class="form-title pad"><b>Remove Recipient</b></div>

                                    <div ng-if="no_recipients" class="small-pad setting-indent">
                                        No recipients added
                                    </div>

                                    <div ng-repeat="address in recipients_show"
                                         class="small-pad setting-indent clickable"
                                         ng-click="btn_remove_recipient(address)">

                                        <i class="fas fa-minus-circle icon-red" style="display: inline"></i>
                                        <div class="small-indent" style="display:inline">//address//</div>

                                    </div>

                                </form>

                            </div>

                        </div>

                        <div id="email-connect" class="group-elements"
                             ng-class="{'bg-success': test_smtp_connect_success,
                             'bg-warning': test_smtp_connect_fail,
                             'bg-group' : !test_smtp_connect_success && !test_smtp_connect_fail}">

                            <div class="small-pad">

                                <form novalidate class="form-medium">

                                    <div class="form-title pad"><b>SMTP Server Address</b></div>

                                    <input type="text" class="form" ng-disabled="!default_settings.email_alerts"
                                           ng-value="default_settings.smtp_server"
                                           ng-model="default_settings.smtp_server"
                                           ng-change="test_smtp_connect_success = false;
                                           test_smtp_connect_fail = false"/>

                                </form>

                                <form novalidate class="form-small">

                                    <div class="form-title pad"><b>Port</b></div>

                                    <input type="text" class="form" ng-disabled="!default_settings.email_alerts"
                                           ng-value="default_settings.smtp_port"
                                           ng-model="default_settings.smtp_port"
                                           ng-change="test_smtp_connect_success = false;
                                            test_smtp_connect_fail = false"/>


                                </form>

                            </div>

                            <div class="small-pad">

                                <form novalidate class="form-medium">

                                    <div class="form-title pad"><b>Username</b></div>

                                    <input type="text" class="form" ng-disabled="!default_settings.email_alerts"
                                           ng-value="default_settings.smtp_username"
                                           ng-model="default_settings.smtp_username"
                                           ng-change="clear_pw(); test_smtp_connect_success = false;
                                           test_smtp_connect_fail = false"/>

                                </form>

                                <form novalidate class="form-small" name="smtp_password_form">

                                    <div class="form-title pad"><b>Password</b></div>

                                    <input type="password" class="form" name="smtp_password_input"
                                           ng-disabled="!default_settings.email_alerts"
                                           ng-value="default_settings.smtp_password"
                                           ng-model="default_settings.smtp_password"
                                           ng-click="clear_pw()"
                                           ng-change="test_smtp_connect_success = false;
                                           test_smtp_connect_fail = false"/>

                                </form>

                            </div>

                            <div class="pad-button">

                                <button type="button" class='btn btn-default btn-style-blue'
                                        ng-disabled="smtp_server=='' || smtp_port=='' || smtp_username==''
                                        || !default_settings.email_alerts || testing_connection"
                                        ng-click="btn_email_connect()">
                                    Test connection
                                </button>
                                <img ng-if="show_smtp_waiting" class="waiting-gif" src="/static/images/loading.svg">
                                <i class="fas fa-check smtp_result_icon icon-green"
                                   ng-if="test_smtp_connect_success"></i>
                                <i class="fas fa-times smtp_result_icon icon-red"
                                   ng-if="test_smtp_connect_fail"></i>
                                <div class="pad-head indent"
                                     ng-if="test_smtp_connect_fail || test_smtp_connect_success">
                                    //smtp_test_txt//
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div id="user-settings" class="setting-category">

                <div class="main-title" ng-click="user_collapse=!user_collapse">
                    <span>User Settings</span>
                </div>

                <div class="pad" uib-collapse="user_collapse">

                    <div class="small-pad setting-indent">

                        <div class="form-title pad"><b>Upload Company Logo</b></div>

                        <form class="form-large pad-bottom setting-indent" action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
                            <input class="pad-head-small" type="file" name="file" onchange="form.submit()"/>
                            <div class="pad-head-medium" ng-if="awaiting_upload != ''"><b>Awaiting Upload: </b>//awaiting_upload//</div>
                        </form>

                        <div class="pad-head-small" ng-if="show_upload_error">
                            <div uib-alert ng-class="'alert-danger'">
                                File upload unsuccessful - size cannot exceed 5mb
                            </div>
                        </div>

                    </div>

                    <div class="small-pad setting-indent">

                        <form novalidate class="form-large">

                            <div class="form-title small-pad"><b>Session Credentials</b></div>

                            <div class="setting-indent">

                                <div ng-repeat="credential in credential_settings">
                                    <label class="checkbox clickable">
                                        <input type="checkbox" class="" ng-model="credential.active">
                                        <div class="small-indent" style="display:inline">//credential.name//</div>
                                    </label>
                                    <label class="checkbox big-indent disable"
                                           ng-class="{'clickable': credential.active}">
                                        <input type="checkbox" class="" ng-model="credential.mandatory"
                                               ng-disabled="!credential.active">
                                        <div class="small-indent" style="display:inline">Mandatory</div>
                                    </label>
                                </div>

                            </div>

                        </form>

                    </div>

                    <div class="small-pad setting-indent">

                        <form novalidate class="form-large">

                            <div class="form-title small-pad"><b>Scan Result Details</b></div>

                            <div class="setting-indent">

                                <div>
                                    <label class="checkbox clickable">
                                        <input type="checkbox" class="" ng-model="results_settings.mal_files">
                                        <div class="small-indent" style="display:inline">Show malicious files</div>
                                    </label>
                                </div>

                                <div>
                                    <label class="checkbox disable"
                                           ng-class="{'clickable': results_settings.mal_files}">
                                        <input type="checkbox" class="" ng-model="results_settings.score"
                                               ng-disabled="!results_settings.mal_files">
                                        <div class="small-indent" style="display:inline">Show score</div>
                                    </label>
                                </div>

                                <div>
                                    <label class="checkbox disable"
                                           ng-class="{'clickable': results_settings.mal_files}">
                                        <input type="checkbox" class="" ng-model="results_settings.sid"
                                               ng-disabled="!results_settings.mal_files">
                                        <div class="small-indent" style="display:inline">Show SID</div>
                                    </label>
                                </div>

                                <div>
                                    <label class="checkbox disable"
                                           ng-class="{'clickable': results_settings.mal_files}">
                                        <input type="checkbox" class="" ng-model="results_settings.file_contents"
                                               ng-disabled="!results_settings.mal_files">
                                        <div class="small-indent" style="display:inline">Show file contents</div>
                                    </label>
                                </div>

                                <div>
                                    <label class="checkbox disable"
                                           ng-class="{'clickable': results_settings.mal_files}">
                                        <input type="checkbox" class="" ng-model="results_settings.file_services"
                                               ng-disabled="!results_settings.mal_files">
                                        <div class="small-indent" style="display:inline">Show flagged services</div>
                                    </label>
                                </div>

                                <div>
                                    <label class="checkbox disable"
                                           ng-class="{'clickable': results_settings.mal_files}">
                                        <input type="checkbox" class="" ng-model="results_settings.service_description"
                                               ng-disabled="!results_settings.mal_files">
                                        <div class="small-indent" style="display:inline">Show service descriptions</div>
                                    </label>
                                </div>

                                <div>
                                    <label class="checkbox clickable">
                                        <input type="checkbox" class="" ng-model="results_settings.safe_files">
                                        <div class="small-indent" style="display:inline">Show safe files</div>
                                    </label>
                                </div>

                            </div>

                        </form>

                    </div>

                    <div class="small-pad setting-indent">

                        <form novalidate class="form-large">

                            <div class="form-title small-pad"><b>Customize Text</b></div>

                            <div class="setting-indent">

                                <div class="pad-head-small"><b>Kiosk Footer</b></div>
                                <div class="pad-head-small">
                                    <textarea class="settings_textarea" rows="4" name="comment"
                                              ng-value="default_settings.kiosk_footer"
                                              ng-model="default_settings.kiosk_footer"
                                              form="usrform">
                                    </textarea>
                                </div>

                                <div class="pad-head-small"><b>Successful Scan</b></div>
                                <div class="pad-head-small">
                                    <textarea class="settings_textarea" rows="4" name="comment"
                                              ng-value="default_settings.pass_message"
                                              ng-model="default_settings.pass_message"
                                              form="usrform">
                                    </textarea>
                                </div>

                                <div class="pad-head-small"><b>Failed Scan</b></div>
                                <div class="pad-head-small">
                                    <textarea class="settings_textarea" rows="4" name="comment"
                                              ng-value="default_settings.fail_message"
                                              ng-model="default_settings.fail_message"
                                              form="usrform">
                                    </textarea>
                                </div>

                                <div class="pad-head-small"><b>Timeout Error</b></div>
                                <div class="pad-head-small">
                                    <textarea class="settings_textarea" rows="4" name="comment"
                                              ng-value="default_settings.error_timeout"
                                              ng-model="default_settings.error_timeout"
                                              form="usrform">
                                    </textarea>
                                </div>

                                <div class="pad-head-small"><b>Early Removal Error</b></div>
                                <div class="pad-head-small">
                                    <textarea class="settings_textarea" rows="4" name="comment"
                                              ng-value="default_settings.error_removal"
                                              ng-model="default_settings.error_removal"
                                              form="usrform">
                                    </textarea>
                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

            <div class="big-pad pad-button">
                <button type="button" class='btn btn-default btn-style-blue btn-large pad'
                        ng-click="btn_save_settings()"
                        ng-disabled="show_smtp_waiting || show_al_waiting || testing_connection">
                    Save admin settings
                </button>
            </div>

        </section>

    </section>

{% endblock %}
