{% extends "results.html" %}
{% block main %}
    <section id="main">

        <section id="header" class="container container-with-overflow container-header">
            <div>
                <b>Assembyline Device Auditor</b>
            </div>
        </section>

        <section id="body" class="container container-with-overflow" ng-controller="ScanController">

            <div uib-collapse="curr_screen<1">

                <div class="form-style-8">

                    <form novalidate class="split text-semi-muted pad" ng-class="{'disable': curr_screen!=1}">
                        <label class="credential-box pad"><b>First Name: </b><input type="text" ng-model="f_name" ng-disabled="curr_screen!=1"/></label>
                        <label class="credential-box pad"><b>Last Name: </b><input type="text" ng-model="l_name" ng-disabled="curr_screen!=1"/></label>
                    </form>

                    <div class="split">
                        <div uib-collapse="curr_screen<2">
                            <div class="center-text" ng-class="{'disable': scan_finished}">
                                <div>
                                    <img class="fade-anim connect-icon" anim-output-header="device_event" src=//kiosk_img//>
                                    <div class="connect-icon-sub text-semi-muted">
                                        <b>//kiosk_img_sub//</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div uib-collapse="kiosk_output=='' || curr_screen<2 || hide_output">
                <div class="pad-button">
                    <div uib-progress ng-class="{'progress-striped active': received_type=='scanning'}">
                        <div uib-bar value="percentage_received" type=//received_type//>
                            <span ng-hide="percentage_received < 5">//received_output//</span>
                        </div>
                        <div uib-bar value="percentage_sent" type=//sent_type//>
                            <span ng-hide="percentage_sent < 5">//submit_output//</span>
                        </div>
                    </div>
                </div>
            </div>

            <div uib-collapse="kiosk_output=='' || curr_screen<2 || hide_output">
                <div class="pad-output-box">
                    <textarea class="scrollabletextbox font-arial text-muted" id="kiosk_output_txt" readonly>
                        //kiosk_output//
                    </textarea>
                </div>
            </div>

            <div uib-collapse="curr_screen!=0 || !show_refresh">
                <div class="pad-refresh center-text">
                    <img class="refresh-gif" src="/static/images/bars.svg">
                    <div class="refresh-gif-sub text-semi-muted">
                        Refreshing virtual machine
                    </div>
                </div>
            </div>

            <div class="pad-button">
                <button type="button" class='btn btn-default btn-style-blue btn-large'
                        ng-disabled="(curr_screen==1 && (!f_name || !l_name)) || (curr_screen==0 && vm_restart)"
                        ng-click="btn_handle_nav()">//btn_text//</button>
            </div>

            <div class="pad font-arial fine-print">
                //kiosk_footer//
            </div>

        </section>
    </section>
{% endblock %}
