{% extends "base.html" %}
{% block css_import %}
<link rel="stylesheet" href="/static/css/animations.css"/>
{% endblock %}
{% block js_import %}
<script type="text/javascript" src="/static/js/socket.io.js"></script>
<script type="text/javascript" src="/static/js/socket_controller.js"></script>
<script src="/static/js/angular_controller.js"></script>
{% endblock %}
{% block content %}
    <section id="appHeader" class="container container-with-overflow">
        <div class="pad">
            <div class="banner">
                {% block banner %}<img class="banner_img" src="/static/images/banner.svg">{% endblock %}
                <h4>Welcome to Assemblyline Device Auditor</h4>
            </div>
        </div>
    </section>
    <section id="appBody" class="container container-with-overflow" ng-controller="MainController">
        <div class="pad text-center text-muted">
            Application is currently <b><i>active</i></b> and ready to scan. Please plug in a device to get started.
        </div>

        <div class="user_output" id="device_conn_img">
            <img class="user_output_img kiosk_img" my_show="show" after-hide="afterHide()" after-show="afterShow()"
                 id="user_output_img" src=//kiosk_img//>
		</div>

        <div class="pad text-center text-muted">
            <p id="user_output_text">//kiosk_output//</p>
        </div>
    </section>
{% endblock %}
