[Unit]
Description=Causes Flask server to run at all times
After=multi-user.target
[Service]
Type=simple
ExecStart=/usr/bin/python2 /opt/al_da/ui/flask_service.py
StandardInput=tty-force
User=user
Restart=always
  RestartSec=10
[Install]
WantedBy=multi-user.target