/* ------- Elements ------- */

.setting-category {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-title {
    font-size: 150%;
    border-bottom: 1px solid #EEE;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main-title:hover {
    opacity: 0.7;
}

.form-title {
    font-size: 14px;
}

.form {
    width: 100%;
    height: 34px;
    padding: 12px 12px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
}

.form-small {
    display: inline-block;
    width: 30%;
}

.form-medium {
    display: inline-block;
    width: 43%;
    padding-right: 5px;
}

.form-large {
    display: inline-block;
    width: 100%;
}

.toggle-email-txt {
    padding-left: 10px;
    font-size: 16px;
    vertical-align: middle;
    display:inline;
}

.icon-green {
    color: #00881B;
}

.icon-red {
    color: #b76361;
}

.email-alert {
    width: 35%;
}

.waiting-gif {
    padding-left: 10px;
    width: 15%;
    opacity: 0.8;
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 992px) {
    .waiting-gif {
		width: 3.5%;
    }
}

.smtp_result_icon {
    padding-left: 10px;
    font-size: 200%;
    vertical-align: middle;
}

/* ------- Modifiers ------- */

.group-elements {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.bg-group {
    background-color: #f0f0f0 !important;
}

.setting-indent {
    padding-left: 15px;
    padding-right: 15px;
}

.align-bottom {
    vertical-align: bottom;
}

.align-middle {
    vertical-align: middle;
    position: relative;
}

.small-indent {
    padding-left: 5px;
}

.indent {
    padding-left: 10px;
}

.big-indent {
    padding-left: 30px;
}


.checkbox-icon {
    /*vertical-align: middle;*/
}

.alert-fade.ng-enter,
.alert-fade.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.alert-fade.ng-enter,
.alert-fade.ng-leave.ng-leave-active {
  opacity: 0;
}

.alert-fade.ng-leave,
.alert-fade.ng-enter.ng-enter-active {
  opacity: 1;
}
