.fade-anim{
  display:inline !important;
  animation-fill-mode: forwards;
}

.fade-anim.hidden {
  opacity: 0;
}

.fade-anim.img-hide-add,
.fade-anim.img-hide-remove.img-hide-remove-active{
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  opacity: 1;
}

.fade-anim.img-hide-remove,
.fade-anim.img-hide-add.img-hide-add-active {
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  opacity: 0;
}