.kiosk_img{
  display:inline !important;
  animation-fill-mode: forwards;
}

.kiosk_img.hidden {
  opacity: 0;
}

.kiosk_img.my-hide-add,
.kiosk_img.my-hide-remove.my-hide-remove-active{
  -webkit-transition:all linear 0.1s;
  -moz-transition:all linear 0.1s;
  -ms-transition:all linear 0.1s;
  -o-transition:all linear 0.1s;
  transition:all linear 0.1s;
  opacity: 1;
}

.kiosk_img.my-hide-remove,
.kiosk_img.my-hide-add.my-hide-add-active {
  -webkit-transition:all linear 0.1s;
  -moz-transition:all linear 0.1s;
  -ms-transition:all linear 0.1s;
  -o-transition:all linear 0.1s;
  transition:all linear 0.1s;
  opacity: 0;
}
