.kiosk-img{
  display:inline !important;
  animation-fill-mode: forwards;
}

.kiosk-img.hidden {
  opacity: 0;
}

.kiosk-img.img-hide-add,
.kiosk-img.img-hide-remove.img-hide-remove-active{
  -webkit-transition:all linear 0.1s;
  -moz-transition:all linear 0.1s;
  -ms-transition:all linear 0.1s;
  -o-transition:all linear 0.1s;
  transition:all linear 0.1s;
  opacity: 1;
}

.kiosk-img.img-hide-remove,
.kiosk-img.img-hide-add.img-hide-add-active {
  -webkit-transition:all linear 0.1s;
  -moz-transition:all linear 0.1s;
  -ms-transition:all linear 0.1s;
  -o-transition:all linear 0.1s;
  transition:all linear 0.1s;
  opacity: 0;
}

.kiosk-results{
  display:inline !important;
  animation-fill-mode: forwards;
}

.kiosk-results.results-hide-add {
  opacity: 1;
}

.kiosk-results.results-hide-remove {
  opacity: 0;
}
