.user_output {
	width: 100%;
	min-width: 250px;
	text-align: center;
}

.user_output_img {
    width: 75%;
	animation-fill-mode: forwards;
}

@media (min-width: 992px) {
    .user_output_img {
		width: 16%;
		animation-fill-mode: forwards;
    }
}

.results_img {
    width: 75%;
	animation-fill-mode: forwards;
}

@media (min-width: 992px) {
    .results_img {
		width: 16%;
		animation-fill-mode: forwards;
    }
}

.scrollabletextbox {
    display: inline;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    vertical-align: middle;
    font-size: 75%;
    height: 150px;
    width: 75%;
    resize: none;
    overflow: auto;
    overflow-x: hidden;
    cursor: default;
    border-color: #EEEEEE;
    background-color: #FAFAFA;
}

.text-note {
    font-size: 80%;
    text-align: center;
    color: #999;
    padding-top: 5px;
	padding-bottom: 10px;
}

.results_scroll {
	padding-bottom: 40px;
}

.results-h1 {
    padding-top: 5px;
    font-size: 24px;
}

.results-h2 {
    font-size: 75%;
    padding-bottom: 40px;
}

.row {
    display: table-row;
}

.cellHead {
    display: table-cell;
    font-size: 95%;
    width:100%;
}

.cellCollapse {
    display: table-cell;
    font-size: 85%;
    width:33%;
}

.mal_file_header {
    opacity: 0.8;
}

.results-alert {
    color: #b76361;
}

.results-title {
    cursor: pointer;
}

.results-detail {
    text-indent: 15px;
    font-size: 85%;
    display: block;
}
