/* ------- Elements ------- */

@media (min-width: 768px){
	html, body{
		background: #F7F7F7;
	}
}

html, body{
	height: 100%;
	color: #555;
	font-size: 10pt;
	word-wrap: break-word;
}

#main {
    padding-top: 85px;
    padding-bottom: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#footer {
    vertical-align: bottom;
}


/* ------- Modifiers ------- */

.z0 {
    z-index: 0;
}

.z1 {
    z-index: 1;
}

.text-semi-muted {
    color: #757575;
}

.pad {
	padding-top: 10px;
	padding-bottom: 10px;
}

.small-pad {
    padding-top: 5px;
    padding-bottom: 5px;
}

.medium-pad {
    padding-top: 20px;
    padding-bottom: 20px;
}

.big-pad {
    padding-top: 30px;
    padding-bottom: 30px;
}

.very-big-pad {
    padding-top: 45px;
    padding-bottom: 45px;
}

.pad-head-small {
    padding-top: 5px;
}

.pad-head {
    padding-top: 30px;
}

.pad-head-big {
    padding-top: 40px;
}

.pad-foot {
    padding-bottom: 30px;
}

.pad-bottom {
    padding-bottom: 10px;
}

.pad-bottom-big {
    padding-bottom: 15px;
}

.collapse-pad {
    padding-top: 15px;
	padding-bottom: 15px;
}

.text-large{
	font-size: 130%;
}

.center-text {
    text-align: center;
}

.disable {
    opacity: 0.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.font-arial {
    font-family: 'Arial', sans-serif;
}

.opacity8 {
    opacity: 0.8;
}

.clickable {
    opacity: 0.9;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable:hover {
    opacity: 1;
}

.bg-warning {
    background-color: #f2dede !important;
}

.bg-success {
    background-color: #dcf2d6 !important;
}


@media (min-width: 768px){
	section.container{
		background: #FFF;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px 1px;
	}
}

@media (min-width: 768px){
	section.container-shadow{
        position: relative;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px 0px;
	}
}

@media (min-width: 768px){
	.container-with-overflow{
        padding-left: 60px;
        padding-right: 60px;
	}
}

@media (min-width: 828px){
	.container-with-overflow{
        padding-left: 30px;
        padding-right: 30px;
	}
}

@media (min-width: 992px){
	.container-with-overflow{
        padding-left: 60px;
        padding-right: 60px;
	}
}

@media (min-width: 1052px){
	.container-with-overflow{
        padding-left: 30px;
        padding-right: 30px;
	}
}

@media (min-width: 1450px){
	.container-with-overflow{
        padding-left: 30px;
        padding-right: 30px;
	}
}

section.container{
	padding-top: 15px;
	padding-bottom: 15px;
}

.container-header {
    padding-top: 30px !important;
	padding-bottom: 30px !important;
    font-size: 22px;
    background-color: #0f1c2e !important;
    vertical-align: middle;
    color: #ffffff;
}

.bg-group {
    background-color: #f0f0f0 !important;
}

.navbar-dev{
	background-color: #2c5180;
	border-color: #00212D;
}

.navbar-dev .navbar-nav>li>a {
    color: #EEE;
}

.navbar-dev .navbar-brand {
    color: #EEE;
}

.navbar-dev .navbar-nav>.active>a,
.navbar-inverse.navbar-dev .navbar-nav>.active>a:hover,
.navbar-inverse.navbar-dev .navbar-nav>.active>a:focus {
    color: #EEE;
    background-color: #0f1c2e;
}

.navbar-inverse.navbar-dev .navbar-nav>.open>a,
.navbar-inverse.navbar-dev .navbar-nav>.open>a:hover,
.navbar-inverse.navbar-dev .navbar-nav>.open>a:focus {
    background-color: #0f1c2e;
    color: #EEE;
}

.navbar-nav > li > .avatar {
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    white-space: pre-line;
    width: 70%;
}

.btn-large {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-medium {
    width: 93%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-small {
    font-size: 10px;
    vertical-align: middle;
    height: 90%;
}

.btn-style-blue, .btn-style-blue:focus {
    background-color: #2c5180;
    border-color: #2c5180;
    color: #ffffff;
}

.btn-style-blue:hover {
    background-color: #29406c;
    border-color: #29406c;
    color: #ffffff;
}

.btn-style-blue:disabled {
    background-color: #29406c;
    border-color: #29406c;
    color: #ffffff;
    opacity: 0.5;
}
