/* ------- Elements ------- */

#main-scan {
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@media (min-width: 768px) {
    #main-scan {
        padding-top: 25px;
    }
}

.connect-icon {
    width: 30%;
    /*opacity: 0.9;*/
    padding-right: 20px;
	animation-fill-mode: forwards;
    display: inline-block;
    vertical-align: center;
}

@media (min-width: 992px) {
    .connect-icon {
		width: 15%;
    }
}

.connect-icon-small {
    width: 8%;
    /*opacity: 0.9;*/
	animation-fill-mode: forwards;
    display: inline-block;
    vertical-align: center;
}

@media (min-width: 992px) {
    .connect-icon-small {
		width: 3%;
    }
}

.connect-icon-sub {
    font-size: 20px;
    display: inline;
    vertical-align: center;
}

.connect-icon-sub-2 {
    font-size: 16px;
}

.connect-icon-small-sub {
    font-size: 10px;
    color: #ffffff;
    display: inline;
    vertical-align: center;
}

.credential-box {
    display: inline-block;
    font-size: 14px;
    /*padding-right: 40px;*/
}

.credential-header {
    width: 100%;
    font-size: 18px;
}

.credential-footer {
    width: 100%;
}

.credential-title {
    color: #b3140f !important;
}

.scrollabletextbox {
    display: inline;
    vertical-align: middle;
    font-size: 10px;
    height: 170px;
    width: 100%;
    resize: none;
    overflow: auto;
    overflow-x: hidden;
    cursor: default;
    border-color: #EEEEEE;
    background-color: #FAFAFA;
}

.refresh-gif {
    width: 20%;
    opacity: 0.8;
    display: inline-block;
    vertical-align: center;
}

@media (min-width: 992px) {
    .refresh-gif {
		width: 5%;
    }
}

.refresh-gif-sub {
    font-size: 14px;
    display: inline;
    vertical-align: middle;
}

.fine-print {
    font-size: 65%;
    text-align: center;
    color: #a5a5a5;
    padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-logo {
    vertical-align: middle;
}

.logo-img {
    height:35px;
    padding-right: 20px;
    padding-left: 10px;
    margin-top:8px;
    margin-bottom:5px;
}

.company-logo-img {
    height: 80px;
    vertical-align: middle;
    display: inline;
    /*text-align: center;*/
    float:left;
}

.al-logo-img {
    height: 50px;
    margin-top: 14px;
    vertical-align: middle;
    display: inline;
    /*text-align: center;*/
    float: right;
}

.logo-footer {
    height: 30px !important;;
    display: inline;
    vertical-align: middle;
    padding-right: 0px !important;
    padding-left: 30px !important;
}

/* ------- Modifiers ------- */

.center-img {
    width: 100%;
    text-align: center;
}

.split {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}

.pad-button {
    padding-top: 20px;
    padding-bottom: 10px;
}

.pad-refresh {
    padding-top: 45px;
    padding-bottom: 10px;
}

.pad-output-box {
    padding-top: 10px;
    padding-bottom: 25px;
}

.form-style-8{
    /*width: 100%;*/
    padding-right: 30px;
    display: inline;
}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    color: #797979;
    font-size: 18px;

}
.form-style-8 input[type="text"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: inline-block;
    width: 90%;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    font: 12px 'Montserrat', sans-serif;
    height: 45px;
}

.progress-bar-received {
    background-color: #72c86f;
}

.progress-bar-sent, .progress-bar-loading {
    background-color: #2c5180;
}

.progress-bar-scanning {
    background-color: #636b77;
}

.progress-bar-done {
    background-color: #00881b;
}

.progress-bar-early {
    background-color: #880011;
}

.progress-bar-timeout {
    background-color: #af6b0a;
}


/* ------- Animations ------- */

.anim {
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

.fade-anim{
  display:inline !important;
  animation-fill-mode: forwards;
}

.fade-anim.hidden {
  opacity: 0;
}

.fade-anim.img-hide-add,
.fade-anim.img-hide-remove.img-hide-remove-active {
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  opacity: 1;
}

.fade-anim.img-hide-remove,
.fade-anim.img-hide-add.img-hide-add-active {
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  opacity: 0;
}

.refresh-anim {
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}

.refresh-anim.ng-hide {
    opacity: 0;
}
