/* ------- Elements ------- */

.banner-img {
    width: 25%;
}

.connect-icon {
    width: 60%;
	animation-fill-mode: forwards;
    display: inline-block;
    vertical-align: center;
}

@media (min-width: 992px) {
    .connect-icon {
		width: 25%;
    }
}

.connect-icon-sub {
    font-size: 18px;
    display: inline;
    vertical-align: center;
}

.credential-box {
    display: block;
    font-size: 14px;
    padding-right: 40px;
}

.scrollabletextbox {
    display: inline;
    vertical-align: middle;
    font-size: 10px;
    height: 170px;
    width: 100%;
    resize: none;
    overflow: auto;
    overflow-x: hidden;
    cursor: default;
    border-color: #EEEEEE;
    background-color: #FAFAFA;
}

.refresh-gif {
    width: 20%;
    opacity: 0.8;
    display: inline-block;
    vertical-align: center;
}

@media (min-width: 992px) {
    .refresh-gif {
		width: 5%;
    }
}

.refresh-gif-sub {
    font-size: 14px;
    display: inline;
    vertical-align: center;
}

.fine-print {
    font-size: 65%;
    text-align: center;
    color: #a5a5a5;
    padding-top: 10px;
	padding-bottom: 10px;
}


/* ------- Modifiers ------- */

.center-img {
    width: 100%;
    text-align: center;
}

.split {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}

.pad-button {
    padding-top: 20px;
    padding-bottom: 10px;
}

.pad-refresh {
    padding-top: 45px;
    padding-bottom: 10px;
}

.pad-output-box {
    padding-top: 10px;
    padding-bottom: 25px;
}

.form-style-8{
    /*width: 100%;*/
    padding-right: 30px;
    background: #FFFFFF;
    display: inline;
}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    color: #797979;
    font-size: 18px;

}
.form-style-8 input[type="text"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: inline-block;
    width: 95%;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    font: 12px 'Montserrat', sans-serif;
    height: 45px;
}

.progress-bar-received {
    background-color: #72c86f;
}

.progress-bar-sent {
    background-color: #2c5180;
}

.progress-bar-scanning {
    background-color: #636b77;
}

.progress-bar-done {
    background-color: #00881b;
}


/* ------- Animations ------- */

.fade-anim{
  display:inline !important;
  animation-fill-mode: forwards;
}

.fade-anim.hidden {
  opacity: 0;
}

.fade-anim.img-hide-add,
.fade-anim.img-hide-remove.img-hide-remove-active {
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  opacity: 1;
}

.fade-anim.img-hide-remove,
.fade-anim.img-hide-add.img-hide-add-active {
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  opacity: 0;
}
